div.shopping-cart {
    .mat-ripple-element {
        transition-duration: 0ms !important;
    }
    table {
        .not-allowed {
            cursor: not-allowed;
        }
        div.quantity-actions {
            button {
                outline: 0;
                background-color: transparent;
                border: 0;
                cursor: pointer;
                &:active {
                    transform: scale(0.8);
                }
                &:disabled {
                    cursor: default;
                }
            }
        }
        div.image {
            vertical-align: middle;
            img {
                max-height: 40px;
            }
        }
        td,
        th {
            padding-left: 10px;
            padding-right: 10px;
        }
        td.center,
        th.center {
            text-align: center;
        }
        tr.mat-footer-row {
            font-weight: bold;
            .total-label {
                color: grey;
            }
            td.mat-column-price {
                color: white;
                background-color: #32385F;
            }
        }
        div.remove-item {
            text-align: center;
        }
    }
}