<div class="shop-item mat-elevation-z1" fxLayout="column" >
  <div class="header">
    <div class="name">{{ product.name }}</div>
    <div class="category">{{ product.category }}</div>
  </div>
  <div class="image">
    <img [src]="productImgUrl">
  </div>
  <div class="content">
    <div class="description">
      {{ product.description }}
    </div>
    <div class="remaining">
      <small>
        ({{ product.stock }} remaining)
      </small>
    </div>
    <div class="price">
      £{{product.price}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="footer">
    <div *ngIf="product.stock > 0" class="action" fxLayout="row" fxLayoutAlign="end center">
      <input [(ngModel)]="amount" type="number" value="1" min="1" [max]="product.stock">
      <button color="accent" (click)="add()" [disabled]="amount < 0 || amount > product.stock" mat-button>
        <mat-icon>shopping_cart</mat-icon>
        ADD TO CARD
      </button>
    </div>
    <div class="placeholder" *ngIf="product.stock === 0">
      Out of stock
    </div>
  </div>
</div>