div.shop-item {
    background-color: white;
    border-radius: 4px;
    .header {
        padding: 5px;
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }
    .content {
        text-align: center;
        .price {
            font-weight: bold;
            color: green;
            font-size: 20px;
        }
    }
    .footer {
        padding: 10px;
        .action {
            input {
                width: 40px;
                height: 26px;
                border: 1px solid #D7D7D7;
                text-align: right;
                margin: 0px 4px 0px 15px;
                padding: 0px 6px;
            }
        }
        .placeholder {
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
            background-color: grey;
            color: white;
        }
    }
}