mat-sidenav-container {
    background-color: #dedede;
    height: 100%;
    button.cart-button {
        color: white;
    }
    div.shop-page {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}