<div class="shop-page" >
  <!-- <mat-grid-list [@shopItemsAnimation]="products.length" #grid>
    <mat-grid-tile *ngFor="let product of products">
      <app-shop-item [product]="product" (addToCart)="addToCart($event)"></app-shop-item>
    </mat-grid-tile>
  </mat-grid-list> -->
  <div [@shopItemsAnimation]="products.length" #grid fxLayout  fxLayout.lt-sm="column" fxLayout.gt-sm="row">
      <div *ngFor="let product of products" >
        <app-shop-item [product]="product" (addToCart)="addToCart($event)"></app-shop-item>
      </div>
    </div>
  
  <app-shop-cart [cart]="cart" [products]="products">
  </app-shop-cart>
</div>