<div class="shop-cart">
  <table *ngIf="cartItems.length">
    <tr class="header">
      <th></th>
      <th>Product</th>
      <th align="left">Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th></th>
    </tr>
    <tr class="top-border" *ngFor="let cartItem of cartItems">
      <td>
        <div class="image">
          <img [src]="cartItem.imageUrl">
        </div>
      </td>
      <td>
        {{cartItem.name}}
      </td>
      <td align="left">
        {{ helper.formatPrice(cartItem.price) }}
      </td>
      <td align="center">
        <div>
          <button (mouseup)="decrementQuantity(cartItem)" mat-button mat-icon-button [disabled]="cartItem.quantity < 2">-</button>
          <span>
            {{cartItem.quantity}}
          </span>
          <button (mouseup)="incrementQuantity(cartItem)" mat-button mat-icon-button [disabled]="cartItem.quantity >= cartItem.stock">+</button>
        </div>
      </td>
      <td align="left">
        {{ helper.formatPrice(cartItem.quantity * cartItem.price) }}
      </td>
      <td align="center">
        <button (mouseup)="removeItemHandler(cartItem.id)" color="warn" mat-icon-button mat-button>
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="summary top-border">
      <td colspan="4"></td>
      <td align="left" class="total">{{ helper.formatPrice(total) }}</td>
      <td>
        <button mat-button color="warn" (click)="clearCartHandler()">
          Empty Cart
        </button>
      </td>
    </tr>
  </table>
</div>